@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Coming+Soon&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-family: "Afacad Flux", sans-serif;
  background-image: linear-gradient(
    to right,
    #f8fafc,
    #e2e8f0
  ); /* Light gradient */
  color: #1f2937;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark {
  background-image: linear-gradient(
    to right,
    #112748,
    #1e293b
  ); /* Dark gradient */
  color: #8aa1c0; /* gray-100 */
}
